*{
    box-sizing:border-box;
}

.container-wrap{
    max-width: 978px;
    margin: 0 auto;
    border: 2px solid #000;
}

.grid-container{
    padding: 10px;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-areas: 
    'avatar avatar container container container'
    'address address container container container'
    'languages languages container container container'
    'programming-skills programming-skills container container container'
    ;
}

.box{
    background: #67899a;
    padding: 20px;
    color: #fff;    
}

.avatar {
    grid-area:avatar;
    grid-column: 1 span 2; 
}

.avatar img{
    margin: 0 auto;
    display: table;
    border: 2px solid #fff;
}

.container{
    grid-area:container;
    padding: 20px;
}

.header{
    background: #ccc;
    padding: 20px 10px;
}

.title-container{
    font-size: 40px;
    text-align: center;
    color: #67899a;
    margin: 0;
}

ul li{
    margin: 0 0 10px;
    font-size: 18px;
}

.address{
    grid-area:address;
    border-bottom: 2px solid #fff;
}

.address a{
    background: #fff;
    color: #000;
    display: table;
    padding: 10px;
    text-decoration: none;
}


.languages{
    grid-area:languages;
    border-bottom: 2px solid #fff;
}

.programming-skills{
    grid-area: programming-skills;
}

.meter{
    height: 10px;
    background: #fff;
    margin: 0 0 10px;
}

.meter span{
    display: block;
    height: 100%;
    background: #6F7074;
}

.box-title{
    font-size: 20px;
    margin: 0 0 10px;
    color: #5d5252;
    border-bottom: 2px solid #6F7074;
    padding:5px;
}

.box-title-sidebar{
    font-size: 18px;
    margin: 0 0 10px;
    color: #fff;
    padding:5px;
    text-transform: uppercase;
}


/* For mobile phones: */

@media only screen and (max-width: 600px) {
    .grid-container{
        display: block;
    }

    .title-container{
        font-size: 25px;
        margin: 20px 0 0;
    }

    .box-title{
        font-size: 18px;
    }

    ul li{
        font-size: 16px;
        line-height: 1.4;
    }

    .container{
        padding: 20px 0;
    }

    .box{
        padding: 20px 10px;
    }
}



